@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@font-face {
	font-family: 'menlo';
	src:url('src/menlo.woff') format('woff'),
}
:root {
	--background: #23272A;
	--base-txt: #99AAB5;
  --sub-txt: #7289DA;
  --main-cl: #7289DA;
  --comp-cl: #99AAB5;
}
::-webkit-input-placeholder {
    opacity: 1 !important;
}
::-moz-placeholder {
    opacity: 1 !important;
}
a, a:hover, a:focus, a:active, a:visited {
	color: inherit;
	text-decoration: none;
	outline: none;
}

body, html {
  background-color: var(--background) !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  padding: 0px;
}

#grid {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: row wrap;
	box-sizing: border-box;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.tile {
	width: 400px;
}

#grid a {
	display: block;
	background-color: var(--background);
	color: var(--base-txt);
	box-sizing: border-box;
	width: 96%;
	height: 96%;
	margin: 1% auto 1%;
	padding: 4vh 4vw;
	text-align: center;
	transition: .2s text-shadow, .2s box-shadow, .2s border-bottom;
}

#grid a .button {
	float: left;
	margin-top: 12px;
	margin-right: 24px;
}

/* #grid h3 {
  padding-left: 45%;
  font-size: 13px;
} */

#grid p {
  /* padding-left: 45%; */
	/* font-size: 10px; */
  color: var(--sub-txt);
}

/* .button img {
  display: fixed;
	padding-right: 60%;
} */

/* #grid table tr td a img {
	position: absolute;
	opacity: 1;
	right: 1px;
	z-index: 0;
	top: 5px;
} */

#grid a:focus img,
#grid a:hover img {
	-webkit-filter: drop-shadow(3px 3px 0 var(--main-cl)) drop-shadow(-3px -3px 0 var(--comp-cl));
	filter: drop-shadow(3px 3px 0 var(--main-cl)) drop-shadow(-3px -3px 0 var(--comp-cl));
}

#grid a:focus,
#grid a:hover {
	box-shadow: 3px 3px 0 var(--main-cl), -3px -3px 0 var(--comp-cl);
	outline: 0;
}

footer form input[type="text"] {
	background-color: var(--background);
  color: var(--sub-txt);
	border: 0;
	border-bottom: 2px solid var(--comp-cl);
  border-left: 2px solid var(--main-cl);
	font-size: 20px;
	position: fixed;
	display: flex;
	outline: none;
	padding: 5px;
	z-index: 1;
	bottom: 2vh;
	width: 90%;
	left: 5%;
}

footer form input[type="text"]:focus {
	border-bottom: 4px solid var(--comp-cl);
  border-left:  4px solid var(--main-cl);
	color: var(--base-txt);
	outline: none;
}

input::-webkit-input-placeholder{
  color:var(--base-txt);
}
